#news {
    height: 250px;
    overflow: auto;

}

.info {
    margin: 16px 8px;
}

.field {
    margin: 4px 0;
}

div#infoResult {
    margin: 16px 8px;
    padding: 16px;
    background: #ffff;
    border-radius: 8px;
    border: 1px solid #ccc;
}

body {
    height: 100%;
    width: 100%;
    background: #eee;
}

.label {
    font-weight: bold;

}

.output {
    font-size: 30px;
    font-weight: bold;
}

.head {
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    color: crimson;
}

footer {
    display: grid;
    text-align: center;
    margin: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

div#counter {
    margin-right: 20px;
}

deepl-inline-trigger {
    font-size: larger;
    color: red;
}

input#infoSearch {
    width: 90%;
    padding: 5px;
}

button#infoSubmit {
    padding: 5px;
}

input#priceSearch {
    width: 90%;
    padding: 5px;
}

button#priceSubmit {
    padding: 5px;
}

#priceResult {
    font-size: 24px;
    color: red;
}

.foot {
    background-color: #ccc;
    margin: 0px;
    padding: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}